/* Estilos gerais */
body {
    font-family: Roboto, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    margin: 20px auto;
    width: 80%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

#search-bar {
    width: 200px;
    padding: 5px;
}

/* Estilos da barra de ferramentas */
.toolbar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
}

.toolbar .btn {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.toolbar .btn.edit {
    background-color: #ff9800;
}

.toolbar .btn.delete {
    background-color: #f44336;
}

.toolbar .btn i {
    margin-right: 5px;
}

.toolbar .btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Estilos da tabela */
.table-wrapper {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

th, td {
    padding: 12px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
}

table td:nth-child(4) {
    white-space: nowrap;
}

thead {
    background-color: #f0f0f0;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilos dos botões */
.button {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

/* Estilos dos botões */
.button-hidden {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    background-color: #ff9800;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

#submit {
    background-color: #28a745;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Estilos do formulário e da modal */
#form-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    font-family: Roboto, sans-serif;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    position: relative;
    border-radius: 5px;
}

h2 {
    margin-top: 2px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos dos ícones */
.favorite-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 32px;
    padding: 0;
    border-radius: 20px;
    color: gold;
}

.favorite-btn:hover {
    color: darkgoldenrod;
}

/* Estilos do formulário */
.form-section {
    margin-bottom: 20px;
}

.form-section #name,
.form-section #email,
.form-section #type {
    display: inline-flex;
    padding: 5px;
    width: 300px;
}

.form-section #observation {
    display: block;
    padding: 45px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.form-section input,
.form-section select,
.form-section textarea {
    width: calc(33% - 10px);
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.form-section #phone-section {
    display: flex;
    align-items: center;
}

.phone-entry {
    padding: 3px;
}

/* Estilos das ações do formulário */
.form-actions {
    text-align: right;
    margin-top: 20px;
}

.form-actions .button {
    margin-right: 8px;
}

#add-phone {
    margin-left: -1px;
}

.remove-phone {
    margin-left: -1px;
    background-color: #ff9800;
}

.required {
    color: red;
}